div{
    color:blue;
}

.big{
    color: rgb(11, 255, 113);
}

.wrapper .element{
    color: orange;
}

.element{
    color:red;
}


#second.element{
    color: green;
}

#second{
    color: yellow;
}