* {
  font-family: 'roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lable {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 12px;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  color: #000;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 36px;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(73, 59, 59, 0.95);
  z-index: 100;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu_link {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_img {
  margin-top: 10px;
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_text {
  margin-top: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  opacity: 50%;
}

.subheader_call {
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  margin-top: 23px;
}

.subheader_phone {
  display: block;
  margin-top: 19px;
  color: #fff;
  text-align: right;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  line-height: 12px;
}

.subheader_btn {
  margin-top: 19px;
  background: #1eacc7;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -2px 10px -2px  #1c99b1;
          box-shadow: inset 0px -2px 10px -2px  #1c99b1;
  width: 172px;
  height: 46px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.subheader_btn:hover {
  background-image: none;
  background-color: orange;
}

.promo {
  min-height: 800px;
  background: url("../img/bg-top.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.promo_subheader {
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
}

.promo_descr {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.promo_btn {
  display: block;
  margin: 120px auto 0 auto;
  background: #1eacc7;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -2px 10px -2px  #1c99b1;
          box-shadow: inset 0px -2px 10px -2px  #1c99b1;
  width: 172px;
  height: 46px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.promo_btn:hover {
  background-image: none;
  background-color: orange;
}

.advantages {
  min-height: 900px;
  padding: 71px 0 65px;
}

.advantages_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 635px;
  margin-top: 30px;
}

.advantages_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
  width: 115px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.advantages_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 20px;
}

.advantages_text {
  width: 343px;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  margin: 0 80px 0 30px;
  text-align: justify;
}

.advantages span {
  display: block;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.mobile {
  min-height: 863px;
  background: url("../img/bg-middle.jpg") center center/cover no-repeat;
  padding: 45px 0 80px;
}

.mobile .row {
  margin-top: 23px;
}

.mobile_subheader2 {
  color: #000;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../img/01.jpg") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/02.jpg") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/03.jpg") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/04.jpg") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/05.jpg") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/06.jpg") center center/cover no-repeat;
}

.mobile_item_subtitle {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000;
  border-radius: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.car {
  min-height: 895px;
  background: url(../img/bg-car.jpg) center center/cover no-repeat;
  padding: 57px 0 139px;
}

.car .lable {
  background-color: #fff;
  color: #000;
}

.car .title {
  color: #fff;
}

.car_subheader {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.car img {
  width: 100%;
  display: block;
  margin: 60px auto 0;
}

.car_text {
  color: #000;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.require {
  padding: 68px 0 84px;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0px;
}

.require_title {
  color: #1eacc7;
  font-size: 22px;
  font-weight: 400;
}

.require_list {
  margin-top: 22px;
  list-style-type: none;
  padding-left: 50px;
}

.require_list li {
  position: relative;
  color: #000;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../img/icons/blue.png") center center/cover no-repeat;
}

.require_description {
  color: #1eacc7;
  font-size: 17px;
  line-height: 24px;
  font-weight: 300;
}

.require .warning .require_title {
  color: red;
}

.require .warning .require_list li:before {
  background: url("../img/icons/red.png") center center/cover no-repeat;
}

.world {
  min-height: 717px;
  background: url("../img/bg-bottom.jpg") center center/cover no-repeat;
  padding: 50px 0;
}

.world .lable {
  background-color: #fff;
  color: #000;
}

.world .title {
  color: #fff;
}

.world_text {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.world_a {
  display: block;
  margin-top: 479px;
  color: #1eacc7;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

footer {
  position: relative;
  min-height: 150px;
}

footer:before {
  content: '';
  display: block;
  margin: 16px auto 0;
  width: 300px;
  height: 4px;
  background-color: #1eacc7;
}

footer .social {
  position: absolute;
  left: 22px;
  top: 50px;
}

footer .social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .social_item {
  margin: 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  background-color: #000;
  border-radius: 100%;
}

footer .social i {
  color: #fff;
}

footer .store {
  position: absolute;
  right: 23px;
  top: 50px;
}

footer .store_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .store_item {
  margin: 0 3px;
}

footer .list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 0;
}

footer .list1_item {
  margin: 0 23px;
}

footer .list1_link {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}

footer .list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .list2_item {
  margin: 0 11px;
}

footer .list2_link {
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  font-weight: 300;
}

.xs-visible {
  display: none;
}

@media (max-width: 1400px) {
  .advantages_item {
    margin-top: 15px;
  }
  .advantages span {
    margin-bottom: 3px;
  }
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 17px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .advantages_text {
    margin: 0 10px 0 20px;
  }
  footer .social {
    top: 104px;
    left: 50px;
  }
  footer .store {
    top: 104px;
  }
}

@media (max-width: 991px) {
  .menu {
    padding: 13px 12px;
  }
  .menu_item {
    padding-right: 14px;
  }
  .menu_link {
    font-size: 11px;
  }
  .subheader_logo img {
    margin-top: 0;
    width: 100%;
  }
  .subheader_btn {
    margin-top: 26px;
    height: 36px;
  }
  .subheader_img {
    margin-top: 0;
    margin-left: 14px;
  }
  .subheader_text {
    margin-top: 0;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .mobile_item {
    width: 233px;
  }
  .advantages {
    min-height: 1480px;
  }
  .advantages_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages_text {
    margin-top: 10px;
  }
  footer .social {
    left: 8px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 15px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    margin-bottom: 2px;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .subheader_phone {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    width: 160px;
    height: 35px;
    margin: 10px auto 0;
  }
  .subheader_img {
    margin-left: 0;
  }
  .promo {
    padding: 100px 0 0 0;
  }
  .promo_header {
    line-height: 45px;
  }
  .advantages {
    min-height: 2150px;
  }
  .advantages_text {
    margin: 0 10px;
    margin-top: 10px;
  }
  .advantages_text span {
    text-align: center;
  }
  .mobile {
    padding-bottom: 35px;
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  header {
    height: 30px;
  }
  .menu {
    background: rgba(0, 0, 0, 0.93);
    width: 100%;
  }
  .subheader {
    top: 30px;
    height: 60px;
  }
  .subheader_text {
    display: none;
  }
  .subheader_logo {
    margin-top: 19px;
  }
  .subheader_btn {
    margin-top: 7px;
    width: 120px;
    height: 26px;
    font-size: 11px;
  }
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    width: 290px;
    margin: 0 auto;
  }
  .promo_subheader {
    font-size: 20px;
    width: 290px;
    margin: 22px auto 0;
  }
  .promo_btn {
    margin-top: 60px;
  }
  .advantages {
    min-height: 2500px;
    padding: 15px 0;
  }
  .advantages .title {
    font-size: 16px;
    line-height: 16px;
  }
  .advantages_text {
    width: 100%;
    font-size: 16px;
  }
  .advantages_circle {
    width: 100px;
    height: 100px;
  }
  .mobile {
    padding: 20px 0;
  }
  .mobile_subheader2, .mobile h2 {
    margin: 20px auto 0;
    width: 290px;
  }
  .car {
    min-height: 0;
    padding: 30px 0;
  }
  .car .title {
    font-size: 31px;
    line-height: 35px;
    width: 290px;
    margin: 26px auto 0;
  }
  .car_subheader {
    width: 290px;
    margin: 15px auto 0;
  }
  .world {
    min-height: 360px;
    padding: 30px 0;
  }
  .world .title {
    font-size: 16px;
  }
  .world_text {
    font-size: 14px;
  }
  .world_a {
    margin-top: 250px;
  }
  .require {
    padding: 26px 0;
  }
  .require_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  .require_description {
    font-size: 14px;
    width: 300px;
  }
  .require .title {
    font-size: 16px;
  }
  .require_title {
    font-size: 16px;
  }
  .require_list li {
    font-size: 14px;
    width: 250px;
  }
  footer {
    min-height: 245px;
  }
  footer::before {
    margin-top: 25px;
  }
  footer .list1 {
    margin-top: 20px;
    padding: 0;
  }
  footer .list1_link {
    font-size: 14px;
  }
  footer .list1_item {
    margin: 0 6px;
  }
  footer .list2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .social {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 125px;
  }
  footer .social_list {
    padding: 0;
  }
  footer .store {
    width: 310px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 180px;
  }
  footer .store_list {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */